@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Nunito', Arial;
}

body {
    background-color: #2c64ff;
}

header {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 4px 8px 0px rgb(0 0 0 / 18%);
    padding: 25px;
    margin: auto;
    width: 530px;
}


#res {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
}

.button input {
    background-color: #2c64ff;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: white;
    font-size: large;
    cursor: pointer;
    transition: 0.2s;
}

.button input:hover {
    background-color: #1e48bb;
    transition: 0.2s;
}

.dados input[type="number"] {
    border: 1px solid #0d2158;
    padding-left: 5px;
    margin-right: 10px;
}

.dados input[type="button"] {
    padding: 5px 10px 5px 10px;
    background-color: #2c64ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.dados input[type="button"]:hover {
    background-color: #1e48bb;
    transition: 0.2s;
}

select {
    width: 300px;
    background-color: rgba(212, 212, 212, 0.247);
    padding: 10px;
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
}







footer {
    text-align: center;
    background-color: white;
    height: 30px;
    width: 350px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 6px 4px 8px 0px rgb(0 0 0 / 18%);
}